.advantages {
    min-height: 473px;
    padding: 73px 0 65px 0;
    background-color: #f6f6f6;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        margin-top: 65px;
    }
    &__item {
        width: 270px;
    }
    &__icon {
        display: block;
        margin: 0 auto;
    }
    &__subtitle {
        margin-top: 35px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #0d0d0d;
        &_hidden {
            display: none;
        }
    }
    &__descr {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.29;
        text-align: center;
        color: #0d0d0d;
        a {
            color: #FF0000;
            text-decoration: underline;
        }
    }
}