.button {
    width: 153px;
    height: 32px;
    background-color: #c70101;
    border-radius: 5px;
    border: none;

    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
    }
    &_submit {
        width: 303px;
        height: 58px;
        font-size: 16px;
    }
}