.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 382px;
    min-height: 402px;
    padding: 35px 40px 40px 40px;
    background: #F2F2F2;
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 19px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 10px;
        margin-bottom: 26px;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #0D0D0D;
    }
    &__close {
        position: fixed;
        top: 0;
        right: -40px;
        font-size: 37px;
        line-height: 21px;
        cursor: pointer;
        color: #C70101;
    }
    &_mini {
        width: 380px;
        min-height: 140px;
        padding: 34px 70px 32px 70px;
    }
}
#consultation, #order, #thanks {
    display: none;
}