@import "variables";
@import "media";

* {
	font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}
@import "promo.scss";
@import "header.scss";
@import "buttons.scss";
@import "advantages.scss";
@import "titles.scss";
@import "consultation.scss";
@import "forms.scss";
@import "carousel.scss";
@import "catalog.scss";
@import "feed.scss";
@import "footer.scss";
@import "modal.scss";
@import "media.scss";